#profile-background
{
    display:block;
    align-items: center;
    height: 300px;
    border-top-right-radius: 50px;
}

#foto-cabecera
{
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width:100%;
    height: 250px;
}

#foto-personal
{
    border-radius: 50px;
    position:absolute;
    top:280px;
    right: 80px;
}


.card-myinfo
{
    display:flex;
    flex-direction: column;
    float: left;
}